div.loading {
  position: relative;
  width: 100%;
  padding-top: 50%;
  //background: #fafafa;
  //border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.15);
}

div.loading div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}