@media (max-width: 750px) {
  div.chartDataTop {
    display: none;
  }

  div.chartDataOverlay {
    display: block;
  }
}

@media (max-width: 500px) {
  h1 {
    margin-top: 10px;
  }

  div.content {
    margin-bottom: 0;
  }
}

