div.chart {
  margin: 10px 0;
}

/**************/
/* SVG styles */

.chartSvg {
  max-width: 100%;
  background: #fafafa;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.grid {
  stroke-width: 0;
}

.grid line {
  stroke-width: 1px;
  stroke: #eee;
}

.axisText {
  fill: #000;
}

.pathLine {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}

.pathPrice {
  stroke: #ccc;
  stroke-width: 1;
}

.pathForwardMinPrice {
  stroke: #03a9f4;
}

.pathRegression {
  stroke: #ff699c;
}

.pathRegressionStdDev {
  stroke: #ff699c;
  opacity: 0.3;
}

.mouseOverlay {
  fill: none;
  /* Lets this rect detect mouseover events even though it otherwise
     wouldn't when fill=none */
  pointer-events: all;
}

.mouseLine {
  stroke: #00ffcc;
  stroke-width: 2px;
  opacity: 0.5;
  pointer-events: none;
}

.mouseCircle {
  r: 4;
  fill: #000;
  stroke-width: 0;
}

.mouseCirclePrice {
  fill: #555;
  opacity: 0.5;
}

.mouseCircleForwardMinimum {
  fill: #03a9f4;
}

.mouseCircleNlb,
.mouseCircleRegression {
  fill: #ff699c;
}

.mouseCircleDeviation {
  fill: #ff699c;
  opacity: 0.3;
}
