div.readying {
  font-size: 16px;
}

div.estimates {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 0;

  & > div {
    flex-basis: 100%;
    padding: 15px;
  }

  & > div:first-child {
    padding-left: 0;
  }

  & > div:last-child {
    padding-right: 0;
  }


  & > div h3 {
    margin: 0 0 10px;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
  }

  table {
    width: 100%;
  }

  tr:last-child {
    border: none;
  }

  tr.expected {
    font-weight: bold;
    color: #ff699c;
  }

  tr.deviation {
    color: #ff699c;
    opacity: 0.8;
  }

  td {
    padding: 10px 0;
    font-size: 14px;
    text-align: right;
    border-bottom: 1px solid #eee;
  }

  td:first-child {
    text-align: left;
  }

  tr:last-child td {
    padding-bottom: 0;
    border: none;
  }
}

@media (max-width: 700px) {
  div.estimates {
    flex-direction: column;

    & > div {
      flex-basis: auto;
      margin: 0 0 10px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
