.path-line {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}

.path-price {
  stroke: #ccc;
  stroke-width: 1;
}

.path-forward-min-price {
  stroke: #03a9f4;
}